@page
@model ChatR.Pages.ChatModel
@{
    ViewData["Title"] = "Чат";
}

<div class="container">
    <div class="row p-1">
        <div class="col-12">
            <h3>Chat</h3>
        </div>
    </div>

    <div class="row p-1">
        <div class="col-12 mb-3">
            <!-- Кнопка установки имени -->
            <button id="setUserButton" class="btn btn-primary">Установить имя пользователя</button>
            <!-- Отображение текущего имени -->
            <span id="currentUserDisplay" class="ml-2 text-muted"></span>
        </div>

        <div class="col-12">
            <ul id="messagesList" class="list-group list-group-flush"></ul>
        </div>

        <div class="col-12 mt-3">
            <!-- Поле ввода сообщения и кнопка отправки -->
            <div class="input-group">
                <input type="text" id="messageInput" class="form-control" placeholder="Введите сообщение...">
                <button id="sendButton" class="btn btn-outline-primary" disabled>Отправить</button>
            </div>
        </div>
    </div>

    <!-- Модальное окно установки имени -->
    <div id="userModal" class="user-modal">
        <div class="user-modal-content">
            <h5>Установка имени пользователя</h5>
            <input type="text" id="userNameInput" placeholder="Введите ваше имя" maxlength="20">
            <div class="d-flex justify-content-end mt-3">
                <button id="cancelUserButton" class="btn btn-secondary mr-2">Отмена</button>
                <button id="confirmUserButton" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.11/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}