@page
@using ChatR.Models.Structure
@model ChatR.Pages.InfoModel
@{
    ViewData["Title"] = "О проекте";
}

<div class="container mt-5">
    <h2>О проекте ChatR</h2>
    <p class="lead text-muted">Сделано yuskus</p>

    <div class="row">
        <div class="col-lg-10">
            <p>Этот проект создавался изначально с целью изучить SignalR, 
                но, как это частенько бывает, сносить наработки было жалко. 
                Решила разместить его на сервере - было интересно попробовать 
                впервые развернуть сайт на поддомене. Настроила https, затем стала 
                экспериментировать с заголовками безопасности (по книжке), информация об этом 
                <a href="https://vk.com/wall-221336982_135" target="_blank" rel="noopener noreferrer">тут, если интересно</a>.
            </p>

            <p>По возможности на досуге буду добавлять разные функции. В планах в ближайшей перспективе сделать "друзей". А пока:</p>

            <ul>
                <li>можно зарегистрироваться, при регистрации email не проверяется, можно пофантазировать (пока)</li>
                <li>можно создать комнату (диалог), остаться в ней одному (организация хранения заметок), добавить в неё собеседника (диалог) или нескольких человек (група)</li>
                <li>список участников можно посмотреть наверху комнаты, кликнув на её название</li>
                <li>перейдя в профиль пользователя, можно изучить его информацию (ФИО, дата регистрации, дата последнего входа)</li>
                <li>сообщения, диалоги и аккаунты чистятся: сообщения, которым более 2 недель, группы, которым более месяца, и пользователи, последняя активность которых была более чем 3 месяца назад</li>
                <li>если пользователь оставил сообщения в диалоге и удалил аккаунт, его сообщения сохраняются в диалоге без указания имени автора (будут удалены в срок - через две недели после создания)</li>
                <li>долгим нажатием по клавише отправки сообщения можно выбрать способ отправки - через Enter или Ctrl+Enter</li>
            </ul>

            Зарегистрированных пользователей: @Model.UsersCount
        </div>
    </div>

    <hr class="my-4" />

    <div class="d-flex justify-content-between align-items-center mt-4">
        <a asp-page="@Routes.Pages.Index" class="btn btn-primary">Перейти к чатам</a>
        <div>
            <a href="@Routes.Pages.Users.Profile/1"
                target="_blank"
                class="btn btn-outline-secondary"
                rel="noopener noreferrer">ChatR</a>
            <a href="https://vk.com/yuskus"
                target="_blank"
                class="btn btn-outline-secondary"
                rel="noopener noreferrer">ВК</a>
            <a href="https://github.com/yuskus"
                target="_blank"
                class="btn btn-outline-secondary"
                rel="noopener noreferrer">GitHub</a>
        </div>
    </div>
</div>